<figure class="half">
	<a href="{{ site.commonurl }}/images/{{ site.data.images[page.figure1A].source }}"><img src="{{ site.commonurl }}/images/{{ site.data.images[page.figure1A].file }}" alt="image"></a>
  <a href="{{ site.commonurl }}/images/{{ site.data.images[page.figure1B].source }}"><img src="{{ site.commonurl }}/images/{{ site.data.images[page.figure1B].file }}" alt="image"></a>

  <figcaption>Hyper-parameter tuned prediction using k nearest neigbhor regression: left, dataset split into training and test subsets; right, folded cross validation.</figcaption>
</figure>
