<script>
  function setIframeSrc() {
    document.getElementById("pdfFrame").src = "http://docs.google.com/gview?url={{ site.commonurl }}/pdf/{{ page.pdf }}&embedded=true";
  }
</script

<a></a>
<button onclick="setIframeSrc()"><span
 style="text-decoration:underline;">Load pdf in frame</span></button> or
<a style="text-decoration:underline;" href="{{ site.commonurl }}/pdf/{{ page.pdf }}">
  go to the pdf
</a> (or right click the latter and 'Save Link As ...').

<figure>
  <iframe id="pdfFrame"
    style="width:720px; height:576px;" frameborder="1">
  </iframe>
</figure>
