
<span class="social-share-googleplus">
  <a href="https://scholar.google.se/citations?user=v9-kWvcAAAAJ&hl=sv" title="Google scholar profile"> Google scholar</a>
</span>
<span class="social-share-googleplus">
  <a href="https://www.researchgate.net/profile/Thomas_Gumbricht" title="Researchgate profile"> Researchgate</a>
</span>
<span class="social-share-googleplus">
  <a href="https://www.scopus.com/authid/detail.uri?authorId=6603689273" title="Scopus profile"> Scopus</a>
</span>
<span class="social-share-googleplus">
  <a href="https://www.linkedin.com/in/thomas-gumbricht-588a2a23/" title="Linkedin profile"> Linkedin</a>
</span>
<span class="social-share-googleplus">
  <a href="https://orcid.org/0000-0002-5125-4487" title="Orcid profile"> Orcid</a>
</span>


<!-- /.social-share -->
